cask "glyph" do
  version "{{VERSION}}"
  sha256 "{{SHA256}}"

  url "https://github.com/hamidfzm/glyph/releases/download/v#{version}/Glyph_#{version}_universal.dmg"
  name "Glyph"
  desc "Cross-platform markdown viewer"
  homepage "{{HOMEPAGE}}/"

  livecheck do
    url :url
    strategy :github_latest
  end

  depends_on :macos

  app "Glyph.app"
  binary "#{appdir}/Glyph.app/Contents/MacOS/Glyph", target: "glyph"

  postflight_steps do
    run "/usr/bin/xattr", args: ["-cr", "{{appdir}}/Glyph.app"]
  end

  zap trash: [
    "~/Library/Application Support/com.hamidfzm.glyph",
    "~/Library/Caches/com.hamidfzm.glyph",
    "~/Library/Preferences/com.hamidfzm.glyph.plist",
  ]
end
